


.thank-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 365px;
    text-align: center;
    position: relative;
    background-color: #fff;
}

.thank-background {
    weight:400px;
    font-size: 280px;
    color: #8B7969;
    position: absolute;
    z-index: 0;
    user-select: none;
}


.thank-message {
    font-size: 18px;
    color: #7d6e65;
    margin-bottom: 20px;
}

.home-button {
    padding: 10px 20px;
    background-color: #7d6e65;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 14px;
    
}

